torch==2.2.0
transformers==4.39.3
datasets==2.18.0
peft==0.11.1
bitsandbytes==0.41.3
accelerate==0.27.2
sentencepiece==0.2.0
swanlab==0.5.7
jieba==0.42.1
rouge-score==0.1.2
nltk==3.8.1
scikit-learn==1.4.2 